body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 1.5;
}

main {
  padding-left: 12px;
  padding-right: 12px;

  @media (min-width: 1024px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

a {
  color: var(--base-text);
  font-weight: var(--font-weight-medium);
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #27272a33;

  &:hover,
  &:focus {
    text-decoration-color: currentColor;
  }
}

@supports (color:color-mix(in lab,red,red)) {
  a {
    -webkit-text-decoration-color: color-mix(in oklab,var(--base-text),transparent 80%);
    text-decoration-color: color-mix(in oklab, var(--base-text), transparent 80%);
  }
}

hr {
  margin-block: calc(var(--spacing) * 8);
  border-color: var(--divider-color);
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.table {
  width: 100%;

  th, td {
    vertical-align: top;
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}
